.anr {
    position: relative;
    color: #000;
    font-weight: bold;
}

.anr::after,
.anr::before {
    display: inline;
    position: relative;
    top: 0;
    opacity: 0;
}

.anr::before {
    content: '{';
    left: 0;
}

.anr::after {
    content: '}';
    right: 0;
}

.anr:hover {
    color: #0b0faa;
}

.anr:hover::after,
.anr:hover::before {
    opacity: 1;
}
