.loading-screen {
    overflow: hidden;
    perspective: 1.1em;
    margin-bottom: 0;
    font-size: 25px;
    height: 100vh;
    width: 100vw;

    .footer {
        display: none;
    }
}

.monitor {
    .monitor-screen {
        margin: 0 auto;
        overflow: hidden;
        border-color: #fff;
        border-style: solid;
        border-width: 0.85em 0.85em 1.2em 0.85em;
        border-left-color: #fff;
        border-top-color: #fff;
        border-right-color: #989797;
        border-bottom-color: #989797;
        background: #000;
    }

    .monitor-footer {
        margin: 0 auto;
        background: #8c8c8c;
        width: 10%;
        min-width: 130px;
        height: 40px;
    }

    .monitor-holder {
        background: #7d7b7b;
        width: 15%;
        min-width: 170px;
        height: 25px;
        margin: 0 auto;
    }

    .monitor-btn {
        position: relative;
        top: -73px;
        right: 0;
        width: 3%;
        min-width: 50px;
        height: 13.5px;
        background: red;
        border-bottom: 3px solid #cc0000;
        border-right: 3px solid #cc0000;
        cursor: pointer;
        margin: 0 auto;
    }

    .monitor-btn:active {
        transform: translateY(-2px);
    }
}

.monitor {
    width: 100%;
    position: absolute;
    bottom: 13%;
    z-index: 2;
    transition: 1s all;

    .monitor-screen {
        position: relative;
        width: 50vw;
        height: 65vh;
        min-width: 500px;
        max-width: 100vh;
        border-width: 30px 30px 50px 30px;
    }

    .monitor-screen .website {
        zoom: 75%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.monitor.scale {
    transform: translateZ(0.99em);
}

.desk {
    position: absolute;
    background: #149264;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.progress-place {
    position: relative;
    width: 100%;
    height: 100%;
    background: blue;
    z-index: 3;
}

.progress-bar {
    background: rgba(0, 0, 0, 0.4);
    border: 0.12em solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
    width: 7em;
    height: 1em;
    background: #0072ff3d;
    vertical-align: middle;

    .text {
        position: absolute;
        left: 0;
        top: -1.5em;
        color: rgba(0, 0, 0, 0.5);
        font-size: 2.5em;
        width: 100%;
        text-align: center;
        cursor: default;
    }

    .progress {
        position: absolute;
        height: 100%;
        width: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

.monitor .progress-bar {
    position: absolute;
    top: 75%;
    left: 12.5%;
    width: 75%;
    height: 8%;

    .text {
        @apply blink-fast;
    }
}

@media screen and (max-width: 720px), screen and (max-height: 450px) {
    .monitor {
        height: 100%;
        bottom: 0;
    }

    .monitor-btn,
    .monitor-footer,
    .monitor-holder,
    .desk {
        display: none;
    }

    .monitor-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        border: none !important;
    }

    .monitor.scale {
        transform: none;
    }

    .progress-bar {
        left: 5%;
        width: 62.5%;
    }
}
