.neon-green {
  filter: drop-shadow(0 0 .35rem green) saturate(1.5);
}

.neon-purple {
  filter: drop-shadow(0 0 .8rem purple) saturate(1.5);
}

.no-box-shadow {
  box-shadow: none !important;
}

.box-shadow-sm {
  box-shadow: .07em .07em 0 0 #000;
}

.box-shadow {
  box-shadow: .15em .15em 0 0 #000;
}

.box-shadow-lg {
  box-shadow: .3em .3em 0 0 #000;
}

.no-text-shadow {
  text-shadow: none !important;
}

.text-shadow-sm {
  text-shadow: .07em .09em 0 #000;
}

.text-shadow {
  text-shadow: .11em .14em 0 #000;
}

.text-shadow-lg {
  text-shadow: .14em .17em 0 #000;
}

.text-h1 {
  @apply text-shadow-lg text-white text-8xl mb-5;
}

.text-h1::first-letter{
  color: red;
}

.text-h2 {
  @apply text-shadow-lg text-white text-5xl mb-5;
}

.text-h3 {
  @apply text-shadow-lg text-white mb-4;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.text-h4 {
  @apply text-shadow text-white text-4xl mb-3;
}

.text-h5 {
  font-size: 2.1rem;
  line-height: 2rem;
  @apply text-shadow text-white mb-2;
}

.text-h6 {
  @apply text-shadow text-white;
}