.slider {
    @apply pb-2;
    position: relative;
    overflow: hidden;
}

.slider-content {
    position: relative;
    white-space: nowrap;

    .slide {
        @apply relative inline-block w-full h-full text-center cursor-pointer;

        transition: all 0.25s;
    }

    .slide.current {
        cursor: auto;
    }
}

.slider:not(.slider-modal) {
    .slider-navigation {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.slider-navigation {
    .prev,
    .next {
        position: absolute;
        background-color: transparent;
        z-index: 1;
        color: #fff;
        font-size: 2.5em;
        text-shadow: 0.04em 0.05em 0 #000;
        transition: transform 0.25s linear;
    }

    .prev {
        left: 1em;
    }

    .next {
        right: 1em;
    }

    .prev:hover {
        transform: translateX(-0.1em);
    }

    .next:hover {
        transform: translateX(0.1em);
    }

    .prev.disabled,
    .next.disabled {
        color: #ddd;
        opacity: 0.7;
        transform: none;
        cursor: default;
    }
}

.slider.slider-modal {
    padding-left: 25% !important;
    padding-right: 25% !important;

    .slide {
        padding: 0 5%;
    }

    .slide > .modal {
        @apply relative inline-block w-full h-full;
        margin: 0;
        filter: blur(1.5px);
        opacity: 0.65;
        transform: scale(0.85);
    }

    .slide.current > .modal {
        filter: none;
        opacity: 1;
        transform: scale(1);
        transition: all 0.25s;
    }

    .prev,
    .next {
        top: 40%;
    }
}

@media screen and (max-width: 992px) {
    .slider.slider-modal {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .slider-navigation {
            @apply relative w-full flex justify-center items-center gap-20 mt-5;

            .prev,
            .next {
                @apply static;
            }
        }
    }
}
