@import '../../styles/components/utils';

.header {
    @apply bg-primary-proper text-center h-52 flex items-center justify-center;

    h1 {
        @apply neon-green;

        font-size: 3.4em;
        text-shadow: none;
        color: rgba(0, 0, 0, 0.4);
        line-height: 100%;
    }

    h1:hover,
    h1:focus {
        @apply neon-purple;
    }
}
