@layer base {
    textarea {
        resize: none;
        min-height: 10rem;
    }

    label {
        display: block;
        cursor: pointer;
        font-size: 2rem;

        span {
            display: block;
            line-height: 2rem;
            font-size: 1.5rem;
        }

        span:first-of-type {
            font-size: 2rem;
        }
    }

    input,
    textarea,
    select {
        background: rgba(0, 0, 0, 0.1);
        font-family: 'VT323', monospace;
        font-size: 1.8rem;
        color: #fff;
        padding: 0.2rem;
        width: 100%;
    }

    input[type='text'],
    input[type='email'],
    input[type='number'],
    textarea,
    .checkbox,
    .radio {
        background: rgba(0, 0, 0, 0.1);
        border: rgba(0, 0, 0, 0.6) solid 0.3rem;
        border-right-color: rgba(0, 0, 0, 0.05);
        border-bottom-color: rgba(0, 0, 0, 0.05);
    }

    select {
        background: rgba(0, 0, 0, 0.5);
    }

    input[type='checkbox'],
    input[type='radio'] {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        transform: scale(0);
    }

    .checkbox,
    .radio {
        display: inline-block;
        height: 2.4rem;
        width: 2.4rem;
        font-size: 1.7rem;
        color: #fff;
    }

    .radio {
        border-radius: 100%;
    }

    .checkbox > .checker,
    .radio > .checker {
        visibility: hidden;
        font-size: 2.8rem;
        position: relative;
        top: -0.65rem;
    }

    input[type='checkbox']:checked + .checkbox,
    input[type='radio']:checked + .radio {
        background: red;
    }

    input[type='checkbox']:checked + .checkbox > .checker,
    input[type='radio']:checked + .radio > .checker {
        visibility: visible;
    }

    select,
    .radio,
    .checkbox {
        cursor: pointer;
    }
}
