@import 'react-toastify/dist/ReactToastify.css';

.Toastify__toast {
    @apply font-vt323;

    box-shadow: 0.6rem 0.6rem 0 0 #000;
    border-radius: 0;

    &-body {
        @apply text-2xl leading-tight;
    }

    &-icon {
        @apply mr-5;
    }

    &--error {
        background: #fff;
    }

    &--success {
        background: #fff;
    }
}
