@layer utilities {
    .text-h1-desktop {
        font-size: 5.5rem;
    }

    .text-h1-mobile {
        font-size: 3.3rem;
    }

    .text-h1 {
        @apply text-shadow-lg text-white mb-5 md:text-h1-desktop text-h1-mobile;

        line-height: normal;
    }

    .text-h1::first-letter {
        color: red;
    }

    .text-h2 {
        @apply text-shadow-lg text-white text-3xl md:text-5xl mb-5;
    }

    .text-h3 {
        @apply text-shadow-lg text-white mb-4;

        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .text-h4 {
        @apply text-shadow text-white text-2xl md:text-3xl mb-3;
    }

    .text-h5 {
        font-size: 2.1rem;
        line-height: 2rem;

        @apply text-shadow text-white mb-2;
    }

    .text-h6 {
        @apply text-shadow text-white;
    }
}
