@tailwind utilities;

@layer utilities {
    .neon-green {
        filter: drop-shadow(0 0 0.35rem green) saturate(1.5);
    }

    .neon-purple {
        filter: drop-shadow(0 0 0.8rem purple) saturate(1.5);
    }

    .no-box-shadow {
        box-shadow: none !important;
    }

    .box-shadow-sm {
        box-shadow: 0.07em 0.07em 0 0 #000;
    }

    .box-shadow {
        box-shadow: 0.15em 0.15em 0 0 #000;
    }

    .box-shadow-lg {
        box-shadow: 0.3em 0.3em 0 0 #000;
    }

    .no-text-shadow {
        text-shadow: none !important;
    }

    .text-shadow-sm {
        text-shadow: 0.07em 0.09em 0 #000;
    }

    .text-shadow {
        text-shadow: 0.11em 0.14em 0 #000;
    }

    .text-shadow-lg {
        text-shadow: 0.14em 0.17em 0 #000;
    }

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .blink {
        animation: blink 1s linear infinite;
    }

    .blink-fast {
        animation: blink 0.5s linear infinite;
    }
}
