@import '../../styles/components/utils';

.nav {
    @apply mb-5 text-center;
}

.nav__toggler {
    @apply relative 
          inline-block
          h-full 
          cursor-pointer 
          bg-primary-proper
          hover:bg-primary-dark;

    width: 40%;
    min-width: 200px;
    max-width: 640px;
    height: 100px;
    font-size: 54px;
    color: rgba(0, 0, 0, 0.4);

    &::before,
    &::after {
        @apply border-t-primary-proper inline-block absolute top-0;

        content: '';
        width: 0;
        height: 0;
        border-top-width: 100px;
    }

    &::before {
        left: -53px;
        border-left: 54px solid transparent;
    }

    &::after {
        right: -53px;
        border-right: 54px solid transparent;
    }

    &:hover::before,
    &:hover::after {
        @apply border-t-primary-dark;
    }

    &-label {
        @apply neon-green;

        user-select: none;
    }

    &:hover &-label,
    &:hover &-label {
        @apply neon-purple;
    }
}

@media screen and (max-width: 1024px) {
    .nav__toggler::before {
        left: -39px;
        border-left: 40px solid transparent;
    }

    .nav__toggler::after {
        right: -39px;
        border-right: 40px solid transparent;
    }
}
