@import '../../styles/components/utils';

.nav {
    @apply mb-5 text-center;
}

.nav__toggler {
    @apply relative 
          inline-block
          h-full 
          cursor-pointer 
          bg-primary-proper
          hover:bg-primary-dark;

    width: 55%;
    min-width: 180px;
    max-width: 640px;
    height: 6.25rem;
    font-size: 3.38rem;
    color: rgba(0, 0, 0, 0.4);

    &::before,
    &::after {
        @apply border-t-primary-proper inline-block absolute top-0;

        content: '';
        width: 0;
        height: 0;
        border-top-width: 6.25rem;
    }

    &::before {
        left: -3.31rem;
        border-left: 3.38rem solid transparent;
    }

    &::after {
        right: -3.31rem;
        border-right: 3.38rem solid transparent;
    }

    &:hover::before,
    &:hover::after {
        @apply border-t-primary-dark;
    }

    &-label {
        @apply neon-green;

        user-select: none;
    }

    &:hover &-label,
    &:hover &-label {
        @apply neon-purple;
    }
}

@media screen and (max-width: 1024px) {
    .nav__toggler::before {
        left: -2.44rem;
        border-left: 2.5rem solid transparent;
    }

    .nav__toggler::after {
        right: -2.44rem;
        border-right: 2.5rem solid transparent;
    }
}
