@import '../../../ui/styles/components/utils';

.progress-bar--landing {
    position: absolute;
    bottom: 12.5%;
    left: 12.5%;
    width: 75%;
    max-width: 75%;
    height: 2.75rem;

    .progress-bar__text {
        @apply blink-fast;
    }
}
